body {
/*	margin-left: 800px/*;
	margin-right: 500px*/*/
}

#spelerCanvas{
	
	position:absolute;
	background-color:transparent;
	

}

#bgCanvas{
	/*position: absolute;*/
	background-color:transparent;
}

#geldCanvas{
	position:absolute;
	/*margin:-500px auto 0px;*/
	background-color:transparent;
}

#eindCanvas{
	position:absolute;
	background-color:transparent;
}

#textCanvas{
	position: absolute;
	background-color: transparent;
}

